.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.link-linkedin, .link-steam, .link-github {
    text-decoration: none;
    color: #f8f8f8;
    border: none;
    display: flex;
    align-items: center;
    padding: 20px;
}

.link-linkedin:hover, .link-steam:hover, .link-github:hover {
    cursor: pointer;
}

.link-icon {
    width: 20px;
    height: 20px;
}

.link-linkedin {
    border-radius: 10px 0 0 10px;
    background-color: #0077b5;
}

.link-steam {
    background-color: #000;
}

.link-github {
    border-radius: 0 10px 10px 0;
    background-color: #171515;
}