.links-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in 0.5s linear;
    animation-fill-mode: both;
    -webkit-animation: fade-in 0.5s linear;
    -webkit-animation-fill-mode: both;
    margin: 20px auto 20px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate3d(0, 10px, 0)
    }
    75% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate3d(0, 10px, 0)
    }
    75% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 1;
    }
}

.link {
    text-decoration: none;
    color: #f8f8f8;
    border: none;
    display: flex;
    align-items: center;
    padding: 20px;
}

.link{
    cursor: pointer;
}

.link-icon {
    width: 20px;
    height: 20px;
}

.link-linkedin {
    border-radius: 10px 0 0 10px;
    background-color: #0077b5;
}

.link-steam {
    background-color: #000;
}

.link-github {
    border-radius: 0 10px 10px 0;
    background-color: #171515;
}

.link-mail {
    color: #000000;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 10px;
}

.link-mail .link-icon {
    width: 40px;
    height: 40px;
}