.content-page {
    margin: auto;
    animation: fade-in 0.5s linear;
    animation-fill-mode: both;
    -webkit-animation: fade-in 0.5s linear;
    -webkit-animation-fill-mode: both;
}

.content-header {
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.content-header-name, .content-body {
    margin: 10px 20px;
}

.content-body {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate3d(0,10px,0)
    }
    75% {
        transform: translate3d(0,0,0);
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate3d(0,10px,0)
    }
    75% {
        transform: translate3d(0,0,0);
    }
    100% {
        opacity: 1;
    }
}